{   
    "extends": "eslint:recommended",
    "env": { "node": true, "es6": true },
    "rules": {
      "quotes": ["error", "double"],
      "no-trailing-spaces": ["error"],
      "prefer-const": ["error"]
    }
}